@model IEnumerable<MvcOnlineTicariOtomasyon.Models.sınıf.snfgrp3>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Markalar ve sayıları</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Task</th>
                    <th>Progress</th>
                    <th style="width: 40px">Label</th>
                </tr>
            </thead>
            <tbody>
                @{int sayı = 0;}
                @foreach (var x in Model)
                {


                    <tr>
                        <td>@{sayı++;}@sayı</td>
                        <td>@x.Marka</td>
                        <td>
                            <div class="progress progress-xs">
                                <div class="progress-bar progress-bar-danger" style="width: @x.Sayı%"></div>
                            </div>
                        </td>
                        <td><span class="badge bg-danger">@x.Sayı%</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>